<h1>Heading Level 1</h1>
<h2>Heading Level 2</h2>
<h3>Heading Level 3</h3>
<h4>Heading Level 4</h4>
<h5>Heading Level 5</h5>
<h6>Heading Level 6</h6>


<mat-slider _ngcontent-shg-c58="" role="slider" min="1" max="100" step="1" value="1" class="mat-slider mat-focus-indicator mat-accent mat-slider-horizontal mat-slider-min-value" ng-reflect-min="1" ng-reflect-max="100" ng-reflect-step="1" ng-reflect-value="1" tabindex="0" aria-disabled="false" aria-valuemax="100" aria-valuemin="1" aria-valuenow="1" aria-valuetext="1" aria-orientation="horizontal"><div class="mat-slider-wrapper"><div class="mat-slider-track-wrapper"><div class="mat-slider-track-background" ng-reflect-ng-style="[object Object]" style="transform: translateX(7px) scale3d(1, 1, 1);"></div><div class="mat-slider-track-fill" ng-reflect-ng-style="[object Object]" style="transform: translateX(-7px) scale3d(0, 1, 1); display: none;"></div></div><div class="mat-slider-ticks-container" ng-reflect-ng-style="[object Object]" style="transform: translateX(0%);"><div class="mat-slider-ticks" ng-reflect-ng-style="[object Object]" style="background-size: 0% 2px; transform: translateZ(0px) translateX(0%); padding-left: 7px;"></div></div><div class="mat-slider-thumb-container" ng-reflect-ng-style="[object Object]" style="transform: translateX(-100%);"><div class="mat-slider-focus-ring"></div><div class="mat-slider-thumb"></div><div class="mat-slider-thumb-label"><span class="mat-slider-thumb-label-text">1</span></div></div></div></mat-slider>
