<div class="l-container ">

    <h1 class="c-page-header__title">Demo Cards :</h1>
    <ul class="c-card-list">
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 1</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300?v1" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 2</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300?v2" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 3</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300?v3" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 4</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300?v4" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 5</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
      <li class="c-card-list__item">
        <a href="" class="c-card ">

          <div class="c-card__header">
            <div class="c-card__media">
              <img src="https://picsum.photos/400/300?v5" alt="" class="c-card__img">		</div>
          </div>

          <div class="c-card__body">
            <h2 class="c-card__title">Thing Number 6</h2>
            <p class="c-card__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div><!-- end c-card__body -->

          <div class="c-card__footer">
          </div>
        </a><!-- end c-card -->    </li>
    </ul>

    <h1 class="c-page-header__title">Demo SVG Icons :</h1>
    <svg class="svg-minus2-dims">
      <use xlink:href="/images/icons.svg#minus2"></use>
    </svg>
    <br>
    <svg class="svg-search-dims">
      <use xlink:href="/images/icons.svg#search"></use>
    </svg>

    <h1 class="c-page-header__title">Demo PNG :</h1>
    <img src="/images/logo.png">

    <h1 class="c-page-header__title">Demo Bootstrap :</h1>
    <div class="alert alert-primary" role="alert">
      This is a primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
      This is a secondary alert—check it out!
    </div>

</div>



<router-outlet></router-outlet>
